    <div>
        <table>
            <thead>
            <tr>
                <th>name</th>
                <th>age</th>
                <th>mobile</th>
            </tr>
            </thead>
            <tbody>
            #foreach($!i in $!info)
            <tr>
                <td>$!i.getName()</td>
                <td>$!i.getAge()</td>
                <td>$!i.getMobile()</td>
            </tr>
            #end
            </tbody>
        </table>
    </div>